<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
    <%= yield(:head) %>
    <!-- Basic Page Needs
  ================================================== -->
    <meta charset="utf-8">
    <title>zBasicH001 Free Html5 Responsive Template</title>
    <meta name="description" content="Free Html5 Templates and Free Responsive Themes Designed by Kimmy | zerotheme.com">
    <meta name="author" content="www.zerotheme.com">
    
    <!-- Mobile Specific Metas
  ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- CSS
  ================================================== -->
    <%= stylesheet_link_tag "style" %>
    <%= stylesheet_link_tag "responsive" %>
    <%= stylesheet_link_tag "zerogrid" %>
    
    <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
        <script src="js/html5.js"></script>
        <script src="js/css3-mediaqueries.js"></script>
    <![endif]-->
    

    <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>

<header>
    <div class="wrap-header zerogrid">
        <div id="logo"><a href="#"><%= image_tag("logo.png") %></a></div>
        <!-- 
        <div id="search">
            <div class="button-search"></div>
            <input type="text" value="Search..." onfocus="if (this.value == &#39;Search...&#39;) {this.value = &#39;&#39;;}" onblur="if (this.value == &#39;&#39;) {this.value = &#39;Search...&#39;;}">
        </div> -->
    </div>
</header>



<section id="content">
    <div class="wrap-content zerogrid">
        <div class="row block01">
            <div class="col-full">
                <div class="wrap-col">
                    
                    <div class="contenido">
                        <h2>Bienvenido al Sistema de lista de San Antonio / Los     Teques!</h2>
                        
                        <%= yield :contenido %>
                    </div>

                </div>
            </div>
        </div>
        
       
    </div>

</section>

<footer>
    <%= yield(:footer) %>
    <div class="wrap-footer">
        <div class="copyright">
            <p>Copyright © 2012 - <a href="http://www.zerotheme.com" target="_blank">Free Basic Html5 Responsive Templates</a> by Zerotheme.com</p>
        </div>
    </div>
</footer>

</body></html>